<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.cxt.dao.AirDao">
<resultMap id="resultmap" type="cn.cxt.entity.Air">
    <id property="id" column="id"/>
    <result property="pm10" column="pm10"/>
    <result property="pm25" column="pm25"/>
    <result property="monitorTime" column="monitorTime"/>
    <result property="lastModifyTime" column="lastModifyTime"/>
    <association property="districtId" javaType="cn.cxt.entity.District">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </association>
</resultMap>
<select id="selectAir" resultMap="resultmap" parameterType="int">
    select a.*,d.* from air_quality_index a
    inner join district d on d.id=a.districtId
    <where>
        <if test="districtId!=0">
            d.id=#{districtId}
        </if>
    </where>
</select>
</mapper>
